.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: shake infinite 1s;
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.App-header {
    left: 0;
    top: 0;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.App-body {
    background-color: white;
}

.App-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    opacity: .25;
    color: white;
    text-align: center;
    font-size: 10px;
}

.App-link {
    color: #61dafb;
}

.backgroundVideo {
    object-fit: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -100;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

nav {
    width: 100%;
    height: 300px;
    background: yellow;
}

    nav ul {
        list-style-type: none;
        padding: 0;
    }

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: red;
    height: 300px;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: brown;
    padding: 10px;
    text-align: center;
    color: wheat;
}

@media (max-width: 600px) {

    nav,
    article {
        width: 100%;
        height: auto;
    }

    ,
    .templatecontent {
        flex-basis: 100%;
    }
}

button {
    width: 150px;
    height: 35px;
    padding: 5px;
    align-items: center;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    justify-content: center;
    display: flex;
}

    button:hover {
        border: 1px solid red;
        color: red;
        fill: red;
    }

    button svg {
        margin-left: auto;
        width: 25px;
        height: 25px;
    }

    button span {
        margin-right: auto;
    }

    button:hover .icon-svg {
        fill: red;
    }

    button h1 {
        color: white;
    }

.iconbutton {
    width: 35px;
    height: 35px;
    padding: 5px;
    align-items: center;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    justify-content: center;
    display: flex;
    border-radius: 10px;
}

    .iconbutton:hover {
        border: 1px solid red;
        color: red;
        fill: red;
    }

    .iconbutton svg {
        margin-left: auto;
        width: 25px;
        height: 25px;
    }

    .iconbutton span {
        margin-right: auto;
    }

    .iconbutton:hover .icon-svg {
        fill: red;
    }

h3 {
    align-items: center;
    color: white;
}

h1 {
    color: white;
}

a {
    color: white;
}

.label {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    margin: 10px;
}

ul {
    display: flex;
    align-content: center;
    align-items: center;
    list-style-type: none;
    margin-left: 50%;
    padding: 0;
    flex-wrap: wrap;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}

li {
    align-content: center;
    align-items: center;
    margin: 10px;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.templatecontent {
    flex-basis: 33%;
    flex-grow: 1;
    background-position: center;
    background-size: cover;
}
